/.gradle
/.idea
/build/_gradle
/build/_compileJava_2
/build/_RenameSrg2Mcp_864822500
/build/_RenameSrg2Mcp_2094448559
/build/classes
/build/classpath
/build/createMcpToSrg
/build/createSrgToMcp
/build/downloadMCMeta
/build/downloadMcpConfig
/build/extractSrg
/build/kotlin
/build/natives
/build/reobfJar
/build/resources
/build/tmp
/build/
run-data
run
.kotlin